<div class="central-containerE">
  <div class="equipement-container">
    <div class="text-center">
      <h3>Liste des équipements</h3>
    </div>
    <ul class="list-unstyled">
      <li *ngFor="let equipement of equipements" class="custom-item">
        <p>Type: {{ equipement.type }}</p>
        <p>Statut: {{ equipement.statut }}</p>
        <p>IdTournoi: {{ equipement.idTournoi }}</p>
        <a href="/equipement">
        <button (click)="supprimerEquipement(equipement._id)" class="btn btn-danger">Supprimer</button>
        </a>
      </li>
    </ul>
  </div>

  <div class="formulaire-container">
    <div class="text-center">
      <h3>Ajouter un équipement</h3>
      <form (submit)="insererEquipement()">
        <div class="form-group">
          <label for="type">Type:</label>
          <select class="form-control" id="type" name="type" [(ngModel)]="type" required>
            <option value="table">table</option>
            <option value="balle">balle</option>
            <option value="raquette">raquette</option>
          </select>
        </div>
        <div class="form-group">
          <label for="nombre">Nombre d'unités:</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
    </div>
  </div>
</div>
