<div class="content-area">
      <div class="inner-content">
        <div class="inscription-container">
          <div class="insertion-champs">
            <h2>Inscription joueur par champs</h2>
            <form (ngSubmit)="inscrireJoueur()">
              <input type="text" [(ngModel)]="nom" name="nom" placeholder="Nom" />
              <input type="text" [(ngModel)]="prenom" name="prenom" placeholder="Prénom" />
              <input type="text" [(ngModel)]="age" name="age" placeholder="Age" />
              <div class="form-group">
                <label for="niveau">Niveau:</label>
                <select class="form-control" id="niveau" name="niveau" [(ngModel)]="niveau" required>
                  <option value="Amateur">Amateur</option>
                  <option value="Intermédiaire">Intermédiaire</option>
                  <option value="Professionnel">Professionnel</option>
                </select>
              </div>
              <button (ngSubmit)="inscrireJoueur()">Inscrire</button>
            </form>
          </div>
          <div class="insertion-fichier">
            <h2>Inscription joueurs par fichier</h2>
            <p>Ici vous avec la possibilité d'insérer un fichier JSON avec un grand nombre de joueur
            pour les insérer en une seule fois. Attention à respecter cette structure : <br> <br>
              "nom": "Bonnot",
              <br>
              "prenom": "Philippe",
              <br>
              "age": "50",
              <br>
              "niveau": "Professionnel"
              </p>
            <br>
            <form>
              <input type="file" (change)="onFileChange($event)" accept=".json">
              <button (click)="inscrireJoueurFichier()" [disabled]="!fichierCharge">Inscrire les joueurs</button>
            </form>
          </div>
        </div>

            <div *ngIf="!showItems2" class="search-container">
              <h2>Chercher joueur</h2>
              <form>
                <input type="text" [(ngModel)]="nomJoueur" name="nomJoueur" placeholder="Entrez un nom de joueur">
                <button (click)="rechercheJoueur()">Rechercher joueur</button>
              <button (click)="afficherListeJoueurs()">Liste des joueurs</button>
              </form>
              <div *ngIf="erreurMessage">
                <p>{{ erreurMessage }}</p>
              </div>
            </div>

            <div *ngIf="showItems2 && !showItems3" class="joueur-list">
              <h2>Liste des joueurs</h2>
              <div *ngFor="let joueur of joueurs" class="joueur-item">
                <p>Nom: {{ joueur.nom }}</p>
                <p>Prénom: {{ joueur.prenom }}</p>
                <a href="/joueurs">
                  <button (click)="supprimerJoueur(joueur._id)">Supprimer ce joueur</button>
                </a>
              </div>
              <a href="/joueurs">
              <button (click)="afficherRecherche()">Recherche de joueur</button>
              </a>
            </div>

            <div *ngIf="showItems3" class="search-container">
              <div>
                <p>Nom: {{ joueurInfo.nom }}</p>
                <p>Prénom: {{ joueurInfo.prenom }}</p>
                <p>Age: {{ joueurInfo.Categorie.age }}</p>
                <p>Niveau: {{ joueurInfo.Categorie.niveau }}</p>
                <a href="/joueurs">
                  <button (click)="supprimerJoueur(joueurInfo._id)" *ngIf="showItems3">Supprimer ce joueur</button>
                </a>
              </div>
              <div *ngIf="erreurMessage">
                <p>{{ erreurMessage }}</p>
              </div>
            </div>
          </div>
        </div>
