<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<div class="content-area">
  <div class="inner-content">
    <div class="text-container">
      <p>Une envie de participer et de créer votre tournoi de tennis de table mais vous avez un manque de motivation ?
        Regardez cette vidéo et utilisez MyTennisPlan pour le créer !</p>
    </div>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/73-u0lgXeYk?si=mjkwUBOnbD4bC7hj"
              title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>

