/* You can add global styles to this file, and also import other style files */

.navbar {
  background-color: #343a40;
  border-radius: 20px;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
}

.navbar-brand,
.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: wheat;
}

footer.navbar {
  background-color: #343a40;
  border-radius: 20px;
  margin-bottom: 1%;
}

footer.navbar .navbar-brand {
  color: #ffffff;
  font-size: 1rem;
}

.custom-btn {
  margin-top: 3%;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 10px 30px;
}

.custom-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  width: 70%;
}



