/* You can add global styles to this file, and also import other style files */
body {
  background-image: linear-gradient(to right, rgba(255, 138, 0, 0.4), rgba(218, 27, 96, 0.4));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.navbar {
  background-color: #343a40;
  border-radius: 20px;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
}

.navbar-brand,
.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: wheat;
}

main {
  flex: 1;
}

footer.navbar {
  background-color: #343a40;
  background-image: linear-gradient(to right, #ff8a00, #da1b60);
  border-radius: 20px;
  color: #ffffff;
  font-size: 1rem;
  margin-top: auto;
  margin-bottom: 1%;
}


footer.navbar .navbar-brand {
  color: #ffffff;
  font-size: 1rem;
}

.custom-btn {
  margin-top: 3%;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 10px 30px;
}

.custom-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  width: 70%;
}

.content-area {
  background-image: linear-gradient(to right, #ff8a00, #da1b60);
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 20px;
  border-radius: 20px;
}


.inner-content {
  position: relative;
  min-height: 72vh;
  overflow: auto;
}

.text-container {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  color: aliceblue;
}


.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 85%;
  border-radius: 20px;
}

.search-container {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.inscription-container h2,
.search-container h2 {
  text-align: center;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #ff8a00;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

form button:hover {
  background-color: #da1b60;
}

.central-container {
  background-image: linear-gradient(to right, #ff8a00, #da1b60);
  border-radius: 20px;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
  display: flex;
}

.tournois-container,
.ajouter-container,
.equipement-container,
.formulaire-container {
  flex: 1;
  padding: 20px;
}


.tournois-container {
  overflow-x: auto;
  white-space: nowrap;
  max-height: 600px;
  overflow-y: auto;
}

.equipement-container{
  overflow-x: auto;
  white-space: nowrap;
  max-height: 285px;
  overflow-y: auto;
}

.text-center {
  text-align: center;
}

.btn {
  margin-top: 3%;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 10px 30px;
}

.custom-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.custom-item3 {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 20px);
  margin-right: 20px;
}

.formulaire-container {
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.ajouter {
  margin-top: 50%;
  margin-right: 2%;
  margin-bottom: 50%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}
.central-containerT {
  background-image: linear-gradient(to right, #ff8a00, #da1b60);
  border-radius: 20px;
  margin-top: 4%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 4%;
  display: flex;
}

.joueur-list {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.joueur-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.joueur-item:hover {
  background-color: #f0f0f0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: aliceblue;
  box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius:10px;
  background: linear-gradient(to right,#201c29,#201c29 1px,#100e17 1px,#100e17);
}

.central-containerE {
  background-image: linear-gradient(to right, #ff8a00, #da1b60);
  border-radius: 20px;
  margin-top: 4%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 4%;
  display: flex;
}

.search-containerM {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.content-areaM {
  background-image: linear-gradient(to right, #ff8a00, #da1b60);
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 20px;
  border-radius: 20px;
}

.inscription-container {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  display: flex;
}

.insertion-champs {
  flex: 1;
}

.insertion-fichier {
  flex: 1;
  margin-left: 20px;
}

.joueur-list {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
}





